{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "PROFILE_TITLE" %} {% endblock title %}
{% block content %}
<div class="page-header">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="title">
          <h4>Profile</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Profile
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
      <div class="pd-20 card-box height-100-p">
        <div class="profile-photo">
          <img src="{{ user.profile.avatar.url }}" alt="" class="avatar-photo" />
        </div>
        <h5 class="text-center h5 mb-0"> {{ user.username }} </h5>
        <p class="text-center text-muted font-14">
            {{ user.groups.all.0 }}
        </p>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
      <div class="card-box height-100-p overflow-hidden">
        <div class="profile-tab height-100-p">
          <div class="tab height-100-p">
            <div class="profile-setting">
                <form>
                <ul class="profile-edit-list row">
                    <li class="weight-500 col-md-6">
                    <h4 class="text-blue h5 mb-20">
                        Your Information
                    </h4>
                    <div class="form-group">
                        <label>Full Name</label>
                        <input class="form-control form-control-lg" type="text" value="{{ user.first_name }} {{ user.last_name }}" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control form-control-lg" type="text" value="{{ user.email }}" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control form-control-lg" type="text" value="{{ user.profile.phone }}" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label>Date Join</label>
                        <input class="form-control form-control-lg" type="text" value="{{ user.date_joined|date:'d-m-Y' }}" style="pointer-events: none;"/>
                    </div>
                    </li>
                    <li class="weight-500 col-md-6">
                    <h4 class="text-blue h5 mb-20"> --- </h4>
                    <div class="form-group">
                        <label>Gender</label>
                        <input class="form-control form-control-lg" type="text" value="{{ user.profile.gender }}" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input class="form-control form-control-lg" type="text" value="{{ user.profile.birthday }}" style="pointer-events: none;"/>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea rows=6 class="form-control form-control-lg" type="text" style="pointer-events: none;">{{ user.profile.address }}</textarea>
                    </div>
                    <div class="form-group mb-0 clearfix">
                        <a href="{% url 'profile_update' %}" class="btn btn-primary pull-right">{% trans "UPDATE" %}</a>
                        <a href="{% url 'password_change' %}" class="btn btn-primary pull-right mr-5">{% trans "CHANGE PASSWORD" %}</a>
                    </div>
                    </li>
                </ul>
                </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
