{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {% trans "QUOTE_LIST" %} {% endblock title %}

{% block content %}
<a href="{% url 'quote_add' %}">{% trans "NEW" %}</a> <br>
{% for object in object_list %}
    {% if object.is_ordered %}
        {{ object }} -- {% trans "ORDERED" %} -- <a href="{% url 'order' object.id%}">{% trans "VIEW ORDER" %}</a>
    {% else %}
        {{ object }} -- {{ object.status }}
        {% if object.status == 'Draft' %}
            <a href="{% url 'quote_update' object.id%}">{% trans "UPDATE" %}</a>
            <a href="{% url 'quote_request' object.id%}">{% trans "REQUEST" %}</a>
        {% endif %}
        {% if object.status == 'Quote' %}
            <a href="{% url 'quote_cancel' object.id%}">{% trans "CANCEL" %}</a>
            <a href="{% url 'order' object.id%}">{% trans "ORDER" %}</a>
        {% endif %}
        {% comment %} <form method="POST" action="{% url 'quote_delete' object.id %}">{% csrf_token %}<input type="submit" value="{% trans "DELETE" %}"></form> {% endcomment %}
    {% endif %}
    <br>
{% endfor %}
{% endblock content %}