{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {% trans "QUOTE_ADD" %} {% endblock title %}

{% block content %}
<div class="card-box mb-30">
    <div class="pd-20">
        <div class="col-sm-12 col-md-6">
            <form method="get">
                {{ form.supplier }}
                <input type="submit" id="supplier_submit" value="{% trans "SUBMIT" %}" hidden>
            </form>
        </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card-box mb-30">
        <div class="pd-20 d-flex justify-content-between">
          <h4 class="text-blue h4"> {% trans "Products" %} </h4>
        </div>
        <div class="pb-20">
          <table class="data-table table hover nowrap">
            <thead>
              <tr>
                <th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
                <th> {% trans "Name" %} </th>
                <th> {% trans "Image" %} </th>
                <th class="datatable-nosort">Action</th>
              </tr>
            </thead>
            <tbody id="products">
              {% for product in products %}
              <tr>
                <td class="table-plus"> {{ product.id_product }} </td>
                <td> {{ product.name }} </td>
                <td> <img src="{{ product.image.url }}" alt="product_logo" style="height: 50px"> </td>
                <td hidden> <input type="number" id="quantity" class="form-control" style="width:100px" name="{{ product.id }}" > </td>
                <td>
                  <span class="add_btn btn btn-outline-primary btn-sm ">{% trans "ADD" %}</span>
                  <span class="del_btn btn btn-outline-danger btn-sm " hidden>{% trans "REMOVE" %}</span>
                </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card-box mb-30">
            <form method="post">
                {% csrf_token %}
                <div class="pd-20 d-flex justify-content-between ">
                    <h4 class="text-blue h4"> {% trans "Product Registed" %} </h4>
                    <input type="submit" value="{% trans " SUBMIT" %}" class="btn btn-success btn-sm">
                </div>
                <div class="pb-20">
                    <table class="data-table table hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
                                <th> {% trans "Name" %} </th>
                                <th> {% trans "Image" %} </th>
                                <th> {% trans "Quantity" %} </th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        
                        <tbody id="selected_products">
                            {% for product in selected_products %}
                            <tr>
                                <td class="table-plus"> {{ product.id_product }} </td>
                                <td> {{ product.name }} </td>
                                <td> <img src="{{ product.image.url }}" alt="product_logo" style="height: 50px"> </td>
                                <td> <input type="number" id="quantity" class="form-control" style="width:100px" name="{{ product.id }}" > </td>
                                <td>
                    <span class="add_btn btn btn-outline-primary btn-sm" hidden>{% trans "ADD" %}</span>
                    <span class="del_btn btn btn-outline-danger btn-sm">{% trans "REMOVE" %}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </form>
    </div>
    </div>
  </div>

{% comment %} <form method="get">
    {{ form.supplier }}
    <input type="submit" id="supplier_submit" value="{% trans "SUBMIT" %}" hidden>
</form> {% endcomment %}
{% comment %} <div id="products">
{% for product in products %}
    <div>
        {{ product.id }} - {{ product }}
        <input type="number" id="quantity" name="{{ product.id }}" hidden>
        <span class="add_btn">{% trans "ADD" %}</span> 
        <span class="del_btn" hidden>{% trans "REMOVE" %}</span> 
        <br>
    </div>
{% endfor %}
</div> <hr> {% endcomment %}
{% comment %} <form id="selected_products" method="post">
    {% csrf_token %}
    <input type="submit" value="{% trans "SUBMIT" %}">
    {% for product in selected_products %}
    <div>
        {{ product.id }} - {{ product }}
        <input type="number" id="quantity" name="{{ product.id }}">
        <span class="add_btn" hidden>{% trans "ADD" %}</span> 
        <span class="del_btn" >{% trans "REMOVE" %}</span> 
        <br>
    </div>
{% endfor %}
</form> {% endcomment %}
{% endblock content %}

{% block script %}
<script>
    $('.add_btn').click(function(){
        selected_product = $(this).parent().parent()
        $('#selected_products').append(selected_product)
        selected_product.find('#quantity').parent().show()
        selected_product.find('#quantity').parent().removeAttr('hidden')
        selected_product.find('.add_btn').hide()
        selected_product.find('.del_btn').show()
        selected_product.find('.del_btn').removeAttr('hidden')
    })
    $('.del_btn').click(function(){
        selected_product = $(this).parent().parent()
        $('#products').append(selected_product)
        selected_product.find('#quantity').parent().hide()
        selected_product.find('.add_btn').show()
        selected_product.find('.add_btn').removeAttr('hidden')
        selected_product.find('.del_btn').hide()
    })
    $('#id_supplier').change(function() {
        $('#supplier_submit').click()
    })
</script>
{% endblock script %}