{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {% trans "SUPPLIER_QUOTE_LIST" %} {% endblock title %}

{% block content %}
<div class="card-box mb-30">
	<div class="pd-20 d-flex justify-content-between">
		<h4 class="text-blue h4"> {% trans "QUOTES" %} </h4>
	</div>
	<div class="pb-20">
		<table class="data-table table hover nowrap text-center">
			<thead>
				<tr>
					<th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
					<th> {% trans "Label" %} </th>
					<th> {% trans "Supplier" %} </th>
					<th> {% trans "Total Product" %} </th>
					<th> {% trans "Total Item" %} </th>
					<th> {% trans "Create At" %} </th>
					<th style="width: 15%"> {% trans "Status" %} </th>
					<th class="datatable-nosort" style="width: 10%">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for object in quotes %}
				<tr>
					<td class="table-plus"> {{ forloop.counter }} </td>
					<td> {{ object.label }} </td>
					<td> {{ object.supplier }} </td>
					<td> {{ object.total_product }} </td>
					<td> {{ object.total_item }} </td>
					<td> {{ object.created_at|date:'Y-m-d H:i' }} </td>
					<td >
                        {% comment %} {{ object.status }} {% endcomment %}
                        {% if object.status == 'Report' %}<div style="margin-left: 3rem; border: solid 2px yellow; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:red"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Draft' %}<div style="margin-left: 3rem; border: solid 2px black; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:black"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Request' %}<div style="margin-left: 3rem; border: solid 2px purple; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:purple"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Reject' %}<div style="margin-left: 3rem; border: solid 2px red; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:red"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Cancel' %}<div style="margin-left: 3rem; border: solid 2px orange; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:orange"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Quote' %}<div style="margin-left: 3rem; border: solid 2px green; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:green"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Order' %}<div style="margin-left: 3rem; border: solid 2px blue; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:blue"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Delivery' %}<div style="margin-left: 3rem; border: solid 2px chocolate; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:chocolate"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Delivered' %}<div style="margin-left: 3rem; border: solid 2px darkgoldenrod; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:darkgoldenrod"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Paid' %}<div style="margin-left: 3rem; border: solid 2px green; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:green"> {% trans "DONE" %} </div>{% endif %}
                    </td>
					<td>
                        {% if object.status != 'Reject' and object.status != 'Cancel' %}
                            <a class="btn btn-sm btn-outline-success" href="{% url 'order' object.id%}">{% trans "VIEW ORDER" %}</a>
                        {% else %}
                            <a class="btn btn-sm btn-outline-success" href="{% url 'order' object.id%}">{% trans "VIEW QUOTE" %}</a>
                        {% endif %}
                        {% if object.status != 'Reject' and object.status != 'Quote' and object.status != 'Cancel' and object.status != 'Order' and object.status != 'Delivery' and object.status != 'Report' and object.status != 'Delivered' and object.status != 'Paid' %}
                            <a class="btn btn-sm btn-outline-success" href="{% url 'supplier_quote' object.id%}">{% trans "QUOTE" %}</a>
                            <a href="#"class="btn btn-sm btn-outline-danger mt-1"data-toggle="modal"data-target="#Medium-modal"type="button">{% trans "REJECT" %}</a>
                            <div class="modal fade"id="Medium-modal"tabindex="-1"role="dialog"aria-labelledby="myLargeModalLabel"aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <form method="POST" action="{% url 'supplier_quote_reject' object.id %}">{% csrf_token %}
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myLargeModalLabel"> {% trans "ENTER YOUR CAUSE" %}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            {{ form.note }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                                            <input type="submit" class="btn btn-danger" value="{% trans "REJECT" %}"></form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.status == 'Order' or object.status == 'Report' %}
                            <a class="btn btn-sm btn-outline-primary mb-1" href="{% url 'supplier_delivery' object.id%}">{% trans "DELIVERY" %}</a>
                        {% endif %}
                        {% if object.status == 'Report' and object.get_issue != 0 %}
                            <a class="btn btn-sm btn-outline-warning" href="{% url 'issue' object.id %}"> {% trans "ISSUE" %}: {{ object.get_issue }} </a>
                        {% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}