{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {% trans "ORDER NEW" %} {% endblock title %}

{% block content %}
<div class="card-box mb-30">
    <div class="pd-20 row">
        <div class="col-6">
            <div class="">
                <form method="POST">
                    <div class="form-group row">
                        {% csrf_token %}
                        <label class="col-sm-12 col-md-2 col-form-label"> {% trans 'Phone' %} </label>
                        <div class="col-sm-12 col-md-8">
                            <input type="text" name="phone" id="phone" class="form-control">
                        </div>
                        <div class="col-sm-12 col-md-2"><a id="find" class="btn btn-outline-success"> {% trans 'Find' %} </a></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6"  id="membership_img" hidden>
            <div class="d-flex justify-content-around" >
                {% comment %} <input class="form-control" type="text" id='cs_type' name='cs_type'/> {% endcomment %}
                <img src="{% static 'membership.png' %}" style="height: 100px;" >
                <div class="">
                    <h2 class="h2"> MEMBERSHIP </h2>
                    <h3 class="h3"> Loyal customers 5% discount </h3>
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card-box mb-30">
        <div class="pd-20 d-flex justify-content-between">
          <h4 class="text-blue h4"> {% trans "Products" %} </h4>
        </div>
        <div class="pb-20">
          <table class="data-table table hover nowrap">
            <thead>
              <tr>
                <th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
                <th> {% trans "Product" %} </th>
                <th> {% trans "Image" %} </th>
                <th> {% trans "Price" %} </th>
                <th> {% trans "Inventory" %} </th>
                <th hidden> </th>
                <th class="datatable-nosort">Action</th>
              </tr>
            </thead>
            <tbody id="products">
              {% for product in products %}
              <tr>
                <td class="table-plus" id="prd_id"> {{ product.id_product }} </td>
                <td> {{ product.name }} </td>
                <td> <img src="{{ product.image.url }}" alt="product_logo" style="height: 50px" id="prd_img"> </td>
                <td id="css_price" class="css_price"> {{ product.price }} </td>
                <td id="inventory"> {{ product.inventory }} </td>
                <td hidden> <input type="number" id="quantity"  class="form-control quantity" style="width:100px" name="{{ product.id }}" > </td>
                <td>
                  <span class="add_btn btn btn-outline-primary btn-sm ">{% trans "ADD" %}</span>
                  <span class="del_btn btn btn-outline-danger btn-sm " hidden>{% trans "REMOVE" %}</span>
                </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card-box mb-30">
            <form method="post" action="{% url 'sale_order_add' %}">
                {% csrf_token %}
                <div class="pd-20 d-flex justify-content-between ">
                    <h4 class="text-blue h4"> {% trans "Order" %} </h4>
                    <input type="submit" value="{% trans 'SUBMIT' %}" class="btn btn-success btn-sm">
                </div>
                    <div class="pd-20" style="margin: 0 5rem;" id="exist" hidden>
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-3 col-form-label" style="font-weight: 700; font-size: 25px;"> {% trans 'Customer' %} </label>
                            <div class="col-sm-12 col-md-9">
                                <input class="form-control" type="text" id='cs_name' name='cs_name' style="font-weight: 900; font-size: 25px;"/>
                                <input class="form-control" type="text" id='cs_phone' name='cs_phone' hidden/>
                            </div>
                        </div>
                    </div>
                <div class="pb-20">
                    <table class=" table hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort"> {% trans "Product" %} </th>
                                <th> {% trans "Price" %} </th>
                                <th> {% trans "Quantity" %} </th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        
                        <tbody id="selected_products">
                            {% for product in selected_products %}
                            <tr>
                                <td class="table-plus" id="prd_id"> {{ product.id_product }} </td>
                                <td> {{ product.name }} </td>
                                <td id="inventory"> {{ product.inventory }} </td>
                                <td> <img src="{{ product.image.url }}" alt="product_logo" style="height: 50px" id="prd_img"> </td>
                                <td> <input type="number" id="quantity"  class="form-control quantity" style="width:100px" name="{{ product.id }}" > </td>
                                <td>
                    <span class="add_btn btn btn-outline-primary btn-sm" hidden>{% trans "ADD" %}</span>
                    <span class="del_btn btn btn-outline-danger btn-sm">{% trans "REMOVE" %}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </form>
        <hr>

        <div class="pd-20 d-flex justify-content-between">
            <div class="form-group row">
                <label class="col-sm-12 col-md-3 col-form-label"> {% trans 'Discount' %} </label>
                <div class="col-sm-12 col-md-4">
                    <input type="number" name="discount" id="discount" class="form-control">
                </div>
                <div class="col-sm-12 col-md-1" style="margin-top: 10px; margin-left: -5px;">%</div>
            </div>
            <h4 class="text-blue h4"> {% trans "Total: " %} <span id="total">0</span> <span>VND</span> </h4>
          </div>

    </div>
    </div>
  </div>

{% endblock content %}

{% block script %}
<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>
<script src="{% static 'plugins/sweetalert2/sweetalert2.all.js' %}"></script>
<script src="{% static 'plugins/sweetalert2/sweet-alert.init.js' %}"></script>
<script>
    var total = 0;
    $('.add_btn').click(function(){
        selected_product = $(this).parent().parent()
        $('#selected_products').append(selected_product)
        selected_product.find('#quantity').parent().show()
        selected_product.find('#quantity').parent().removeAttr('hidden')
        selected_product.find('.add_btn').hide()
        selected_product.find('.del_btn').show()
        selected_product.find('.del_btn').removeAttr('hidden')
        selected_product.find('#prd_img').parent().hide()
        selected_product.find('#inventory').hide()
        selected_product.find('#prd_id').hide()
    })
    $('.del_btn').click(function(){
        selected_product = $(this).parent().parent()
        $('#products').append(selected_product)
        selected_product.find('#quantity').parent().hide()
        selected_product.find('.add_btn').show()
        selected_product.find('.add_btn').removeAttr('hidden')
        selected_product.find('.del_btn').hide()
        selected_product.find('#prd_img').parent().show()
        selected_product.find('#inventory').show()
        selected_product.find('#prd_id').show()
    })
    $('#id_supplier').change(function() {
        $('#supplier_submit').click()
    })

    $('#find').on('click', function () {
        phone = $('#phone').val()
        if (phone == null || phone == '') {
            swal(
                {
                    position: 'top-end',
                    type: 'error',
                    title: 'Phone is empty',
                    showConfirmButton: false,
                    timer: 2000
                }
            )
        } else {
            $.ajax({
                url: `{% url 'get_customer' %}`,
                type: 'POST',
                data: {
                    'phone': phone,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function(response) {
                    if (response.is_exist) {
                        $('#cs_name').attr('value', response.name)
                        $('#cs_phone').attr('value', response.phone)
                        $('#cs_type').attr('value', response.type)
                        if (response.type == 'Membership') {
                            $('#membership_img').removeAttr('hidden')
                        }
                        $('#exist').removeAttr('hidden')
                    } else {
                        $('#cs_name').attr('value', "")
                        $('#cs_phone').attr('value', phone)
                        $('#exist').removeAttr('hidden')
                    }
                }
            })
        }
    })

    $('.quantity').on('change', function() {
        total = 0
        var a = $(this).parent().parent().parent().find('.css_price')
        var b = $(this).parent().parent().parent().find('.quantity')
        for (var i = 0; i < a.length ; i++) {
            if (b[i].value == '') {
                b[i].value = 0
            }
            total += parseInt(a[i].textContent) * parseInt(b[i].value)
        }
        $('#total').text(total)
    })
</script>
{% endblock script %}