{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {% trans "ORDER_EDIT" %} {% endblock title %}

{% block content %}
<div class="card-box mb-30">
    <div class="pd-20 row">
        <div class="col-6">
            <div class="form-group">
                <label>{% trans "Customer Name" %}</label>
                <input class="form-control form-control-lg" type="text" value="{{ sorder.customer.name }}" style="pointer-events: none;"/>
            </div>
            <div class="form-group">
                <label>{% trans "Customer Phone" %}</label>
                <input class="form-control form-control-lg" type="text" value="{{ sorder.customer.phone }}" style="pointer-events: none;"/>
            </div>
        </div>
        {% if sorder.customer.type == 'Membership' %}
        <div class="col-6 mt-30"  id="membership_img">
            <div class="d-flex justify-content-around mt-30" >
                <img src="{% static 'membership.png' %}" style="height: 100px;" >
                <div class="">
                    <h2 class="h2"> MEMBERSHIP </h2>
                    <h3 class="h3"> Loyal customers 5% discount </h3>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
<div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card-box mb-30">
        <div class="pd-20 d-flex justify-content-between">
          <h4 class="text-blue h4"> {% trans "Products" %} </h4>
        </div>
        <div class="pb-20">
          <table class="data-table table hover nowrap">
            <thead>
              <tr>
                <th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
                <th> {% trans "Product" %} </th>
                <th> {% trans "Image" %} </th>
                <th> {% trans "Price" %} </th>
                <th> {% trans "Inventory" %} </th>
                <th hidden> </th>
                <th class="datatable-nosort">Action</th>
              </tr>
            </thead>
            <tbody id="products">
              {% for product in products %}
              <tr>
                <td class="table-plus" id="prd_id"> {{ product.id_product }} </td>
                <td> {{ product.name }} </td>
                <td> <img src="{{ product.image.url }}" alt="product_logo" style="height: 50px" id="prd_img"> </td>
                <td id="css_price" class="css_price"> {{ product.price }} </td>
                <td id="inventory"> {{ product.inventory }} </td>
                <td hidden> <input type="number" id="quantity"  class="form-control quantity" style="width:100px" name="{{ product.id }}" > </td>
                <td>
                  <span class="add_btn btn btn-outline-primary btn-sm ">{% trans "ADD" %}</span>
                  <span class="del_btn btn btn-outline-danger btn-sm " hidden>{% trans "REMOVE" %}</span>
                </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card-box mb-30">
            <form method="post" action="{% url 'sale_order_edit' sorder.id %}" id="sale_add_form">
                {% csrf_token %}
                <div class="pd-20 d-flex justify-content-between ">
                    <h4 class="text-blue h4"> {% trans "Order" %} </h4>
                    <input type="submit" value="{% trans 'SUBMIT' %}" class="btn btn-success btn-sm" id="sale_submit_btn">
                </div>
                <div class="pb-20">
                    <table class=" table hover nowrap">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort"> {% trans "Product" %} </th>
                                <th> {% trans "Price" %} </th>
                                <th> {% trans "Quantity" %} </th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        
                        <tbody id="selected_products">
                            {% for product in selected_products %}
                            <tr>
                                <td class="table-plus" id="prd_id" hidden> {{ product.0.id_product }} </td>
                                <td> {{ product.0.name }} </td>
                                <td hidden> <img src="{{ product.0.image.url }}" alt="product_logo" style="height: 50px" id="prd_img"> </td>
                                <td id="css_price" class="css_price"> {{ product.0.price }} </td>
                                <td id="inventory" hidden> {{ product.0.inventory }} </td>
                                <td> <input type="number" id="quantity" value={{product.1}} class="form-control quantity" style="width:100px" name="{{ product.0.id }}" > </td>
                                <td>
                    <span class="add_btn btn btn-outline-primary btn-sm" hidden>{% trans "ADD" %}</span>
                    <span class="del_btn btn btn-outline-danger btn-sm">{% trans "REMOVE" %}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </form>
        <hr>
        
        <div class="pd-20 d-flex justify-content-between">
            <div class="form-group row">
                <label class="col-sm-12 col-md-4 col-form-label"> {% trans 'Discount' %} </label>
                <div class="col-sm-12 col-md-5">
                    <input type="number" name="discount" id="discount" class="form-control" min="0" max="95" value="{{sorder.discount}}">
                </div>
                <div class="col-sm-12 col-md-1" style="margin-top: 10px; margin-left: -5px;">%</div>
            </div>
            <h4 class="text-blue h4"> {% trans "Total: " %} <span id="total"> {{sorder.bill}} </span> <span>VND</span> </h4>
        </div>

        <div class="clearfix mr-3">
            <div class="pull-right">
                <form method="POST" action="{% url 'sale_order_delete' sorder.id %}">
                    {% csrf_token %}
                    <a href="{% url 'sale_order_list' %}" class="btn btn-outline-primary mr-3">{% trans "Cancel" %}</a>
                    <a href="#" type="submit" class="show_confirm btn btn-outline-danger">{% trans "DELETE" %}</a>
                </form>
            </div>
        </div>

    </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>
	<script src="{% static 'plugins/sweetalert2/sweetalert2.all.js' %}"></script>
	<script src="{% static 'plugins/sweetalert2/sweet-alert.init.js' %}"></script>

	<script type="text/javascript">
		$('.show_confirm').click(function (event) {
			var form =  $(this).closest("form");
			var name = $(this).data("name");
			event.preventDefault();
            swal({
                title: '{% trans "ARE YOU SURE DELETE IT" %}',
                text: "{% trans "YOU WON'T BE ABLE TO REVERT THIS!" %}",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: '{% trans "YES" %}',
                cancelButtonText: '{% trans "NO" %}',
                confirmButtonClass: 'btn btn-success margin-5',
                cancelButtonClass: 'btn btn-danger margin-5',
                buttonsStyling: false
            }).then(function (res) {
				if (res.value == true) {
					form.submit();
				}
            })
        });
	</script>
<script>
    var total = 0;
    $('.add_btn').click(function(){
        selected_product = $(this).parent().parent()
        $('#selected_products').append(selected_product)
        selected_product.find('#quantity').parent().show()
        selected_product.find('#quantity').parent().removeAttr('hidden')
        selected_product.find('.add_btn').hide()
        selected_product.find('.del_btn').show()
        selected_product.find('.del_btn').removeAttr('hidden')
        selected_product.find('#prd_img').parent().hide()
        selected_product.find('#inventory').hide()
        selected_product.find('#prd_id').hide()
    })
    $('.del_btn').click(function(){
        selected_product = $(this).parent().parent()
        $('#products').append(selected_product)
        selected_product.find('#quantity').parent().hide()
        selected_product.find('.add_btn').show()
        selected_product.find('.add_btn').removeAttr('hidden')
        selected_product.find('.del_btn').hide()
        selected_product.find('#prd_img').parent().show()
        selected_product.find('#prd_img').parent().removeAttr('hidden')
        selected_product.find('#inventory').show()
        selected_product.find('#inventory').removeAttr('hidden')
        selected_product.find('#prd_id').show()
        selected_product.find('#prd_id').removeAttr('hidden')
    })

    $('.quantity').on('change', function() {
        total = 0
        var a = $(this).parent().parent().parent().find('.css_price')
        var b = $(this).parent().parent().parent().find('.quantity')
        for (var i = 0; i < a.length ; i++) {
            if (b[i].value == '') {
                b[i].value = 0
            }
            total += parseInt(a[i].textContent) * parseInt(b[i].value)
        }
        $('#total').text(total)
    })

    $('#discount').change(function() {
        total = 0
        var a = $('#discount').parent().parent().parent().parent().find('table').find('.css_price')
        var b = $('#discount').parent().parent().parent().parent().find('table').find('.quantity')
        for (var i = 0; i < a.length ; i++) {
            if (b[i].value == '') {
                b[i].value = 0
            }
            total += parseInt(a[i].textContent) * parseInt(b[i].value)
        }
        
        if($(this).val() == '' || $(this).val() == null) {
            discount = 0
        } else {
            discount = parseInt($(this).val());
        }
        

        $('#total').text(total - discount*total/100)
    })
</script>
{% endblock script %}