{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Dashboard" %} {% endblock title %}

{% block script %}
	<script src="{% static 'plugins/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
    <script>
		var options = {
			title: { text: "{% trans 'Revenue Report' %}", align: 'left', style: { fontSize: "16px", color: '#666'} },
            yaxis: { min: 0, max: 20000000, title: { text: "{% trans 'Revenue' %}",}, },
            grid: { show: true, padding: { left: 0, right: 0 } },
            stroke: { width: 7, curve: 'smooth' },
            fill: { type: 'gradient', gradient: { shade: 'dark', gradientToColors: [ '#1b00ff'], shadeIntensity: 1, type: 'horizontal', opacityFrom: 1, opacityTo: 1, stops: [0, 100, 100, 100] }, },
            markers: { size: 4, colors: ["#FFA41B"], strokeColors: "#fff", strokeWidth: 2, hover: { size: 7, } },
            chart: { height: 350, type: 'line', toolbar: { show: false, } },
            series: [{
				name: "{% trans 'Revenue' %}",
                data: {{ revenue.1 }}
            }],
            xaxis: {
				type: 'text',
                categories: {{ revenue.0 }}
            }
        };
        var chart = new ApexCharts(document.querySelector("#chart1"), options);
        chart.render();
		

		var label3 = "{{ cs_statitics.0 }}".replaceAll('&#x27;','"')

		var options8 = {
			series: {{ cs_statitics.1 }},
			labels: JSON.parse(label3),
			chart: { type: 'donut', height: 350 },
			responsive: [{
				breakpoint: 480,
				options: { chart: { width: 200 }, legend: { position: 'bottom' } }
			}],
			plotOptions: { pie: { donut: { size: '5%' } } }
		};
		var chart = new ApexCharts(document.querySelector("#chart8"), options8);
		chart.render();

        $('#month').change(function(){
			$('#go').click()
        })
        $('#month2').change(function(){
			$('#go2').click()
        })
    </script>
	<script>
		var options3 = {
			chart: { type: 'bar', height: 350, toolbar: { show: false, } },
			plotOptions: { bar: { horizontal: false, columnWidth: '25%', endingShape: 'rounded' }, },
			dataLabels: { enabled: false },
			stroke: { show: true, width: 2, colors: ['transparent'] },
			series: [{
				name: 'Revenue',
				data: {{ y_revenue.1 }}
			}],
			xaxis: {
				categories: {{ y_revenue.0 }}
			},
			yaxis: { title: { text: "{% trans 'Year Revenue' %}" } },
			fill: { opacity: 1 },
			tooltip: { y: { formatter: function (val) { return val + " VND" } } }
		};
		var chart = new ApexCharts(document.querySelector("#chart3"), options3);
		chart.render();
	</script>
    
{% endblock script %}

{% block content %}
<div class="xs-pd-20-10 pd-ltr-20">
	<div class="title pb-20">
		<h2 class="h3 mb-0"> {% trans "Overview" %} </h2>
	</div>
	{{ cs_stat }}
	<div class="row pb-10">
		<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
			<div class="card-box height-100-p widget-style3">
				<div class="d-flex flex-wrap">
					<div class="widget-data">
						<div class="weight-700 font-24 text-dark"> {{ total_sale_order }} </div>
						<div class="font-14 text-secondary weight-500">
							{% trans "Total Order" %}
						</div>
					</div>
					<div class="widget-icon">
						<div class="icon" data-color="#00eccf">
							<i class="icon-copy dw dw-calendar1"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
			<div class="card-box height-100-p widget-style3">
				<div class="d-flex flex-wrap">
					<div class="widget-data">
						<div class="weight-700 font-24 text-dark"> {{ total_retail_customer }} </div>
						<div class="font-14 text-secondary weight-500">
							{% trans "Retail Customer" %}
						</div>
					</div>
					<div class="widget-icon">
						<div class="icon" data-color="#ff5b5b">
							<span class="icon-copy ti-heart"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
			<div class="card-box height-100-p widget-style3">
				<div class="d-flex flex-wrap">
					<div class="widget-data">
						<div class="weight-700 font-24 text-dark"> {{ total_wholesale_customer }} </div>
						<div class="font-14 text-secondary weight-500">
							{% trans "Wholesale Customer" %}
						</div>
					</div>
					<div class="widget-icon">
						<div class="icon">
							<i class="icon-copy fa fa-stethoscope" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
			<div class="card-box height-100-p widget-style3">
				<div class="d-flex flex-wrap">
					<div class="widget-data">
						<div class="weight-700 font-24 text-dark"> {{ earning }} </div>
						<div class="font-14 text-secondary weight-500">Earning</div>
					</div>
					<div class="widget-icon">
						<div class="icon" data-color="#09cc06">
							<i class="icon-copy fa fa-money" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 mb-30">
			<div class="pd-20 card-box">
				<div class="d-flex justify-content-between">
					<h5 class="h4 text-blue mb-20"> {% trans "Statistic" %} </h5>
					<a href="{% url 'dashboard' %}" class="btn btn-outline-primary"> {% trans "Reset" %} </a>
				</div>
				<div class="tab">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item"> <a class="nav-link text-blue {% if tab_active == 1 %}active{% endif %}" data-toggle="tab" href="#home" role="tab" aria-selected="true" > {% trans "Monthly Revenue" %} </a> </li>
						<li class="nav-item"> <a class="nav-link text-blue {% if tab_active == 2 %}active{% endif %}" data-toggle="tab" href="#profile" role="tab" aria-selected="false" > {% trans "Yearly Revenue" %} </a> </li>
						<li class="nav-item"> <a class="nav-link text-blue {% if tab_active == 3 %}active{% endif %}" data-toggle="tab" href="#contact" role="tab" aria-selected="false" >Contact</a> </li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade {% if tab_active == 1 %}show active{% endif %}" id="home" role="tabpanel" >
							<div class="pd-20">
								<div class="bg-white pd-20 card-box mb-30">
									<form action="" method="get">
										<div class="form-group row">
											<label class="col-sm-12 col-md-2 col-form-label"> {% trans 'Choose time' %} </label>
											<div class="col-sm-12 col-md-4">
												<input type="month" name="month" id="month" class="form-control" value="{{revenue.2}}-{% if revenue.3 < 10 %}0{% endif %}{{revenue.3}}">
												<input type="text" hidden name="tab_active" value="1">
											</div>
										</div>
										<input type="submit" id="go" hidden value="Go">
									</form>
									<div id="chart1"></div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade {% if tab_active == 2 %}show active{% endif %}" id="profile" role="tabpanel">
							<div class="pd-20">
								<div class="bg-white pd-20 card-box mb-30">
									<form action="" method="get">
										<div class="form-group row">
											<label class="col-sm-12 col-md-2 col-form-label"> {% trans 'Choose time' %} </label>
											<div class="col-sm-12 col-md-4">
												<input type="number" min="2000" max="2050" step="1" name="year" id="year" class="form-control" value="{{ y_revenue.2 }}"/>
												<input type="text" hidden name="tab_active" value="2">
											</div>
											<div class="col-sm-12 col-md-1">
												<input type="submit" id="load_yr" value="{% trans "Load" %}" class="form-control">
											</div>
										</div>
									</form>
									<div id="chart3"></div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade {% if tab_active == 3 %}show active{% endif %}" id="contact" role="tabpanel">
							<div class="pd-20">
								<div class="bg-white pd-20 card-box mb-30">
									<form action="" method="get">
										<div class="form-group row">
											<label class="col-sm-12 col-md-2 col-form-label"> {% trans 'Choose time' %} </label>
											<div class="col-sm-12 col-md-4">
												<input type="month" name="month2" id="month2" class="form-control" value="{{revenue.2}}-{% if revenue.3 < 10 %}0{% endif %}{{revenue.3}}">
												<input type="text" hidden name="tab_active" value="3">
											</div>
										</div>
										<input type="submit" id="go2" hidden value="Go">
									</form>
									<div class="d-flex justify-space">
										<div class="pb-20 w-50">
											<table class="data-table table hover nowrap">
												<thead>
													<tr>
														<th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
														<th> {% trans "CUSTOMER" %} </th>
														<th> {% trans "TOTAL" %} </th>
													</tr>
												</thead>
												<tbody>
													{% for item in cs_stat %}
													<tr>
														<td class="table-plus"> {{ forloop.counter }} </td>
														<td> {{ item.0.name }} </td>
														<td> {{ item.1 }} </td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
										<div id="chart8" class="pull-right" style="width: 50%;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="footer-wrap pd-20 mb-20 card-box">
		DeskApp - Bootstrap 4 Admin 
	</div>
</div>
{% endblock content %}


tong san pham: {{ total_products }} <br>
san pham ban chay nhat: {{ product_best_seller.0 }} - so luong: {{ product_best_seller.1 }}