{% load i18n %}
{% load static %}

<div class="left-side-bar">
	<div class="brand-logo">
		<a href="{% url 'dashboard' %}">
			<img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" class="dark-logo" />
			<img src="{% static 'vendors/images/deskapp-logo-white.svg' %}" alt="" class="light-logo" />
		</a>
		<div class="close-sidebar" data-toggle="left-sidebar-close"> <i class="ion-close-round"></i> </div>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu">
				<li>
					<a href="{% url 'category_list' %}" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span><span class="mtext"> {% trans "Category" %} </span>
					</a>
				</li>
				<li>
					<a href="{% url 'product_list' %}" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span><span class="mtext"> {% trans "Product" %} </span>
					</a>
				</li>
				<li>
					<a href="{% url 'supplier_list' %}" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span><span class="mtext"> {% trans "Suppliers" %} </span>
					</a>
				</li>
				<li>
					<a href="{% url 'quote_list' %}" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span><span class="mtext"> {% trans "Quote" %} </span>
					</a>
				</li>
				<li>
					<a href="{% url 'reg_prd_view' %}" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span><span class="mtext"> {% trans "Supplier / Register Product" %} </span>
					</a>
				</li>
				<li>
					<a href="{% url 'quote_s_list' %}" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span><span class="mtext"> {% trans "Supplier / View Quote" %} </span>
					</a>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-hdd-stack"></span><span class="mtext">Product</span>
					</a>
					<ul class="submenu">
						<li><a href="javascript:;">Level 1</a></li>
						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle">
								<span class="micon fa fa-plug"></span><span class="mtext">Category</span>
							</a>
							<ul class="submenu child">
								<li><a href="{% url 'category_list' %}">List</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li> <div class="dropdown-divider"></div> </li>
				<li> <div class="sidebar-small-cap">Extra</div> </li>
				<li>
					<a href="#" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-layout-text-window-reverse"></span>
						<span class="mtext">Landing Page <img src="vendors/images/coming-soon.png" alt="" width="25" /></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="mobile-menu-overlay"></div>