{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} {% trans "ORDER_LIST" %} {% endblock title %}

{% block content %}
<div class="card-box mb-30">
	<div class="pd-20 d-flex justify-content-between">
		<h4 class="text-blue h4"> {% trans "QUOTES" %} </h4>
		<a href="{% url 'quote_add' %}" class="btn btn-primary">{% trans "Create a new quote" %}</a>
	</div>
	<div class="pb-20">
		<table class="data-table table hover nowrap text-center">
			<thead>
				<tr>
					<th class="table-plus datatable-nosort"> {% trans "ID" %} </th>
					<th> {% trans "Label" %} </th>
					<th> {% trans "Supplier" %} </th>
					<th> {% trans "Total Product" %} </th>
					<th> {% trans "Total Item" %} </th>
					<th> {% trans "Create At" %} </th>
					<th style="width: 15%"> {% trans "Status" %} </th>
					<th class="datatable-nosort" style="width: 10%">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
                {% if object.is_ordered %}
				<tr>
					<td class="table-plus"> {{ forloop.counter }} </td>
					<td> {{ object.label }} </td>
					<td> {{ object.supplier }} </td>
					<td> {{ object.total_product }} </td>
					<td> {{ object.total_item }} </td>
					<td> {{ object.created_at|date:'Y-m-d H:i' }} </td>
					<td >
                        {% comment %} {{ object.status }} {% endcomment %}
                        {% if object.status == 'Report' %}<div style="margin-left: 3rem; border: solid 2px yellow; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:red"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Draft' %}<div style="margin-left: 3rem; border: solid 2px black; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:black"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Request' %}<div style="margin-left: 3rem; border: solid 2px purple; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:purple"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Reject' %}<div style="margin-left: 3rem; border: solid 2px red; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:red"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Cancel' %}<div style="margin-left: 3rem; border: solid 2px orange; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:orange"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Quote' %}<div style="margin-left: 3rem; border: solid 2px green; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:green"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Order' %}<div style="margin-left: 3rem; border: solid 2px blue; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:blue"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Delivery' %}<div style="margin-left: 3rem; border: solid 2px chocolate; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:chocolate"> {{ object.status }}  </div>{% endif %}
                        {% if object.status == 'Paid' %}<div style="margin-left: 3rem; border: solid 2px green; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:green"> {% trans "DONE" %} </div>{% endif %}
                        {% if object.status == 'Delivered' %}
                            {% if object.get_issue == 0 %}
                            <div style="margin-left: 3rem; border: solid 2px darkgoldenrod; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:darkgoldenrod"> {% trans "Pending Pay" %}  </div>
                            {% else %}
                            <div style="margin-left: 3rem; border: solid 2px darkgoldenrod; width:100px; line-height: 50px; border-radius: 50%; text-align: center; vertical-align: middle; font-weight: 700; color:darkgoldenrod"> {{ object.status }}  </div>
                            {% endif %}
                        {% endif %}
                    </td>
					<td class="d-flex flex-column">
                        <a class="btn btn-sm btn-outline-success" href="{% url 'order' object.id%}">{% trans "VIEW ORDER" %}</a>
                        {% if object.status == 'Delivered' and object.get_issue == 0%}
                            <a class="btn btn-sm btn-outline-primary mt-1" href="{% url 'payment' object.id%}">{% trans "PAYMENT" %}</a>
                        {% else %}
                            {% if object.status != 'Paid' and object.status != 'Order' %}
                                <a class="btn btn-sm btn-outline-primary mt-1" href="{% url 'grn' object.id%}">{% trans "CREATE GRN" %}</a>
                            {% endif %}
                        {% endif %}
                        {% if object.status == 'Delivered' or object.status == 'Report' %}
                            {% if object.get_issue != 0 %}
                            <a class="btn btn-sm btn-warning mt-1" href="{% url 'issue' object.id %}"> {% trans "ISSUE" %}: {{ object.get_issue }} </a>
                            {% endif %}
                        {% endif %}
					</td>
				</tr>
                {% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script>
{% endblock script %}